name: Publish UI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'warps/**/*.tsx'
      - 'warps/**/*.css'
      - 'warps/**/*.ts'
      - 'warps/**/warp.json'
      - 'ui/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Build UIs
      run: npm run build

    - name: Commit and Push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add .
        git diff --quiet && git diff --staged --quiet || (git commit -m "chore: build and update UI artifacts [skip ci]" && git push)
